@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
  background-color: #eee;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.container {
  max-width: 600px;
  min-width: 380px;
  margin: 0 auto;
}

.btn {
  padding: 1.1rem 2rem;
  background-color: #f1c40f;
  border: none;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  background-color: orange;
  transition: background-color 1s;
}

/* Navigation Bar and Logo Image */
#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #eee;
}

#header > img {
  width: 30rem;
  margin: 1.5rem 0 0.5rem;
}

#nav-bar > ul {
  text-align: center;
}

#nav-bar .nav-link {
  font-size: 1.6rem;
  padding: .3rem;
}

#main {
  margin-top: 14rem;
}

/* Get started Section */
#get-started {
  margin-top: 0.8rem;
  padding: 0 1.5rem;
}

#get-started h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#get-started form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  padding: 0.5rem;
  width: 28rem;
  margin-bottom: 1.5rem;
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* Features Section */
#features {
  margin: 7rem 0;
  padding: 0 1.5rem;
}

#features .icon {
  display: none;
}

#features .description {
  text-align: center;
  margin: 7rem 0;
} 

/* Embeded Video */
.embed-video {
  width: 100%;
  height: 32rem;
}

/* Pricing Section */
#pricing {
  margin: 5rem 0;
}

/* Product Cards */
#pricing .product {
  width: 30rem;
  margin: 1.5rem auto;
  text-align: center;
  border: 1px solid #000;
}

#pricing h3 {
  background-color: #ddd;
  text-align: center;
  padding: 1.2rem 0;
  text-transform: uppercase;
}

#pricing h2 {
  margin: 1.5rem 0 2rem;
}

#pricing p {
  padding: 0.5rem;
}

#pricing .btn {
  margin: 2rem 0 1.5rem;
}

/* Footer */
#footer {
  background-color: #ddd;
  padding: 2rem ;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#footer ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

#footer span {
  font-size: 1.4rem;
  color: #444;
}

/* Desktop design */
@media only screen and (min-width: 992px) {

  /* Navigation Bar and Logo Image */
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 10rem 1rem 5rem;
  }
  
  #header > img {
    width: 30rem;
    margin: 1.5rem 0 0.5rem;
  }

  #nav-bar {
    width: 30%;
  }
  
  #nav-bar > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #main {
    margin-top: 8rem;
  }

  .container {
    max-width: 100%;
  }

  /* Get started Section */
  #get-started {
    padding: 0;
  }

  /* Features Section */
  #features {
    margin-top: 12rem;
    padding: 0;
  }

  #features .description {
    text-align: left;
    width: 83%;
    margin: 0;
  }

  #features .icon {
    display: block;
    height: 5rem;
  }

  #features i {
   color: darkorange;
   height: 2rem;
   
  }
  
  #features .wrapper {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7rem;
  }

  /* Embeded Video */
  .embed-video {
    width: 40%;
    display: block;
    margin: 0 auto;
  }

  /* Pricing Section */
  #pricing {
    display: flex;
    width: 70%;
    margin: 5rem auto;
  }

  #pricing .product {
    margin: 1.5rem auto;
    width: 32%;
  }

  /* Footer */
  #footer {
    width: 70%;
    margin: 0 auto;
  }

  #footer ul {
    display: flex;
    width: 21%;
  }
}
