@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
  background-color: #eee;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

/* Utilities */

.container {
  padding: 0 1rem;
}

/* Navigation Bar and Logo Image */

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #eee;
}

#header > img {
  width: 30rem;
  margin: 1.5rem 0 0.5rem;
}

#nav-bar > ul {
  text-align: center;
}

.nav-link {
  font-size: 1.6rem;
  padding: .3rem;
}

#main {
  margin-top: 14rem;
}

/* Get started section */
.get-started {
  margin-top: 0.8rem;
}

.get-started h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  padding: 0.5rem;
  width: 28rem;
  margin-bottom: 1.5rem;
}

input[type="submit"] {
  padding: 0.6rem 2rem;
  background-color: #f1c40f;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  cursor: pointer;
}

